.form {
  //position: absolute;
  //margin-top: -5rem;

  &-container {
    z-index: 10;
    min-height: 40px;
  }

  &__input {
    width: 200px;
  }

  &__button {
    &:hover {
      cursor: pointer;
    }
  }
}