body {
  position: relative;
}

.overlay {
  background: rgba(0,0,0,.7);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.header {
  //margin-top: -15rem;
  z-index: 1;
}
.result {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  height: 100%;
}

.divider {
  height: 100%;
  width: 5px;
  margin: 0 20px;
}

.map-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.innerText {
  margin-bottom: 22px;
  margin-top: -12px;
  min-height: 30px;

  &__title {
    margin: 0;
    text-transform: capitalize;
  }
}

.user-result {
  //position: absolute;
  //top: 0;
  margin-left: 30px;
}

.user-result__list {
  position: relative;
  z-index: 1;
}

.comp-result {
  margin-right: 30px;
  //position: absolute;
  //top: 0;
  //right: 0;
}

.error {
  position: absolute;
  z-index: 1;
  display: block;
  margin-top: 10px;
  color: red;
}